body{
    --clamp: clamp(250px, 90%, 800px);
    --textColor: hsl(30, 10%, 34%);
    --headerColor: hsl(14, 45%, 36%);


    padding: 0;
    margin: 0;
    background-color: white;
}


.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden; 
}

.imgContainer img{
    max-width: 800px;
    min-width: 800px;
    width: auto;
    height: 400px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 0px 20px;
}
.contentContainer > * {
    width: var(--clamp)
}

.header{
    padding: 30px;
}

.header > h1{
    font-size: 36px;
    font-family: 'Young Serif';
    font-weight: 400;
}

.header > span {
    font-family: 'Outfit';
    font-size: 16px;
    font-weight: 400;
    color: var(--textColor);
}

.preparationTab{
    padding: 30px;
    background-color:  hsl(330, 100%, 98%);
    box-sizing: border-box;
    border-radius: 15px;
}
.preparationTab > h1{
    font-size: 20px;
    font-family: 'Outfit';
    color: hsl(332, 51%, 32%);
}

.preparationTab li{
    font-family: 'Outfit';
    color: var(--textColor);
    margin: 10px 0;
}


.ingredients{
    border-bottom: 1px solid lightgray;
    padding: 20px 0px 30px 0;
}

.ingredients h1{
    font-size: 26px;
    color: var(--headerColor);
    font-family: 'Young Serif';
    font-weight: 400;
}

.ingredients ul{
    padding-left: 25px;
}

.ingredients li{
    font-family: 'Outfit';
    color: var(--headerColor);
    margin: 10px 0;
}
.ingredients li span{
    position: relative;
    left: 20px;
    color: var(--textColor);
}

.instructions{
    border-bottom: 1px solid lightgray;
    padding: 0px 0px 20px 0;
}

.instructions h1{
    color: var(--headerColor);
    font-family: 'Young Serif';
    font-size: 26px;
    font-weight: 400;
}

.instructions ol{
    font-family: 'Outfit';
    padding-left: 25px;
}

.instructions li{
    color: var(--headerColor);
    margin: 10px 0;
}

.instructions span{
    position: relative;
    left: 20px;
    color: var(--textColor);
    line-height: 1.5;
}

.nutrition{
    padding: 20px 0 50px 0;
    border-bottom: 1px solid lightgray;
}

.nutrition h1{
    color: var(--headerColor);
    font-family: 'Young Serif';
    font-size: 26px;
    font-weight: 400;
}

.nutrition span{
    font-family: 'Outfit';
    color: var(--textColor);
    font-size: 16px;
}

.nutrition table{
    font-family: 'Outfit';
    color: var(--textColor);
    font-size: 18px;
    width: var(--clamp);
    padding: 10px 0;
}

.nutrition th, td{
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
}

.nutrition tr:last-child th, tr:last-child td{
    border: 0;
}


.nutrition th{
    font-weight: 400;
}
.nutrition th span{
    position: relative;
    left: 30px;
}

.nutrition td{
    color: var(--headerColor);
    font-weight: 600;
}


.attribution {
    margin-top: 20px;
    font-size: 11px;
    text-align: center;
    position: relative;
    bottom: 10px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
